
#signup-box h1 { font-size: 27px; color: #333; line-height: 36px; font-weight: bold; margin: 0 0 15px 0; }
#signup-box h2 { font-size: 20px; color: #333; line-height: 24px; margin-top: 20px; font-weight: normal; margin: 0 0 10px 0;  }
#signup-box h3 { text-align: center; margin: 50px 0; font-size: 20px; color: #333; font-weight: normal;  }
#signup-box form { margin: 20px 0 10px 0; } 
#signup-box form input[type=text], #signup-box form input[type=password] { margin-top: 4px; padding: 5px; font-size: 17px; border: 1px solid #aaa; border-radius: 3px }

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #689324;
}
.myButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
	cursor: pointer;
}
.myButton:active {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#8cb82b');
}
.myButton.red {
  -moz-box-shadow:inset 0px 1px 0px 0px #fd619c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fd619c;
  box-shadow:inset 0px 1px 0px 0px #d17d9c;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #de2d2c), color-stop(1, #c81c2b) );
  background:-moz-linear-gradient( center top, #de2d2c 5%, #c81c2b 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#de2d2c', endColorstr='#c81c2b');
  background-color:#de2d2c;
  border:1px solid #d4131a;
  color:#ffffff;
  text-shadow:1px 1px 0px #a30824;
}


.myButton-small { font-size: 15px; padding: 3px 10px; }